.overlayColStart {
    flex-direction: column;
    width: 33%;
    height: 100%;
   
    position: relative;
    z-index: 3;
   


}

.overlayColEnd {
    flex-direction: column;
    width: 33%;
    height: 100%;
   
    position: relative;
    z-index: 3;
   


}

