.parentBox {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.childBox {
  position: absolute;
  width: 25vh;
  height: 25vh;
  box-sizing: border-box;
  border: 2px solid white;

}

.childBox:hover {
  outline: 4px solid #ffc107;
  outline-offset: 4px; 

}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

